In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
dataset_df = pd.read_csv('Uzbekistan_tour_expenses.csv')

dataset_df

,Cause,Date,Cost,Whose cost,Currency,Arpan Paid,Ritam Paid
0,Flight ticket from Bangalore to Urgench,NaN,67408.00,B,INR,0.00,"67,408.00"
1,Flight ticket from Urgench to Bangalore,NaN,70038.92,B,INR,70038.92,0
2,Travel Adaptor purchase,NaN,499.00,B,INR,0.00,499
3,Burger at Airport,NaN,1093.00,B,INR,0.00,1093
4,US Dollars purchase,NaN,29000.00,B,INR,0.00,29000
...,...,...,...,...,...,...,...
97,"From second last day UrSU payment, for travel,...",NaN,NaN,R = Ritam,NaN,NaN,NaN
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,Got from UrSU at the last day = (1500 USD) + (...,NaN,NaN,NaN,NaN,NaN,NaN
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,Got 140 USD from Tashkent airport in exchange ...,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
dataset_df.tail(9).index

RangeIndex(start=93, stop=102, step=1)

In [11]:
dataset_df.drop(dataset_df.tail(9).index, inplace = True)

dataset_df

,Cause,Date,Cost,Whose cost,Currency,Arpan Paid,Ritam Paid
0,Flight ticket from Bangalore to Urgench,NaN,67408.00,B,INR,0.00,"67,408.00"
1,Flight ticket from Urgench to Bangalore,NaN,70038.92,B,INR,70038.92,0
2,Travel Adaptor purchase,NaN,499.00,B,INR,0.00,499
3,Burger at Airport,NaN,1093.00,B,INR,0.00,1093
4,US Dollars purchase,NaN,29000.00,B,INR,0.00,29000
...,...,...,...,...,...,...,...
88,2 cakes @ Tahskent Bazar,19/May,10000.00,B,UZB som,NaN,10000
89,Ritam bought 3 dresses at Tashkent bazar,19/May,310000.00,R,UZB som,NaN,310000
90,Tashkent bazar to rail station car,19/May,37000.00,B,UZB som,NaN,37000
91,Dinner @ Tashkent station,19/May,70000.00,B,UZB som,NaN,70000
92,Tashkent station to Airport car,19/May,30000.00,B,UZB som,NaN,30000

In [12]:
dataset_df.isnull().sum()

Cause          6
Date          17
Cost           9
Whose cost    10
Currency       9
Arpan Paid    85
Ritam Paid     9
dtype: int64

In [13]:
dataset_df.dropna(subset = 'Cause', inplace = True)

dataset_df

,Cause,Date,Cost,Whose cost,Currency,Arpan Paid,Ritam Paid
0,Flight ticket from Bangalore to Urgench,NaN,67408.00,B,INR,0.00,"67,408.00"
1,Flight ticket from Urgench to Bangalore,NaN,70038.92,B,INR,70038.92,0
2,Travel Adaptor purchase,NaN,499.00,B,INR,0.00,499
3,Burger at Airport,NaN,1093.00,B,INR,0.00,1093
4,US Dollars purchase,NaN,29000.00,B,INR,0.00,29000
...,...,...,...,...,...,...,...
88,2 cakes @ Tahskent Bazar,19/May,10000.00,B,UZB som,NaN,10000
89,Ritam bought 3 dresses at Tashkent bazar,19/May,310000.00,R,UZB som,NaN,310000
90,Tashkent bazar to rail station car,19/May,37000.00,B,UZB som,NaN,37000
91,Dinner @ Tashkent station,19/May,70000.00,B,UZB som,NaN,70000
92,Tashkent station to Airport car,19/May,30000.00,B,UZB som,NaN,30000

In [14]:
dataset_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 87 entries, 0 to 92
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Cause       87 non-null     object
 1   Date        76 non-null     object
 2   Cost        84 non-null     float64
 3   Whose cost  83 non-null     object
 4   Currency    84 non-null     object
 5   Arpan Paid  8 non-null      float64
 6   Ritam Paid  84 non-null     object
dtypes: float64(2), object(5)
memory usage: 5.4+ KB

In [15]:
dataset_df.isnull().sum()

Cause          0
Date          11
Cost           3
Whose cost     4
Currency       3
Arpan Paid    79
Ritam Paid     3
dtype: int64

In [16]:
dataset_df['Cost'] = dataset_df['Cost'].fillna(0)

In [17]:
dataset_df.isnull().sum()

Cause          0
Date          11
Cost           0
Whose cost     4
Currency       3
Arpan Paid    79
Ritam Paid     3
dtype: int64

In [21]:
dataset_df.groupby('Whose cost').sum()['Cost']

Whose cost
A     320000.00
B    8585617.92
R     440000.00
Name: Cost, dtype: float64